<!DOCTYPE html>
<html>
    <head>
        <title>My Twig Page</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            sans: ['Inter', 'sans-serif'],
                        },
                    },
                },
            }
        </script>
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body class="font-sans">
        {% include 'navbar.html.twig' %}
        <div class="text-center">
           
        </div>
    </body>
</html>