<div class='flex flex-col gap-2 w-[350px] h-[200px] text-md p-7 justify-between rounded-2xl bg-[#ececec] '>
      <div class='flex flex-col gap-2'>
        <img src="/five-star.svg" class="w-[120px]" alt="star" />
        <p>The best ticket management app i have ever used</p>        
      </div>
        <p class='font-bold text-right'>John Doe</p>
    </div>